<section class="content">
  <div class="row">
		<div class="col-3" id="side_nav_faq" style="">
		<ul class="navigation">
		  <li class="header">Preguntas Frecuentes</li>
		  <li style="font-weight: bold;"><a href="#question1">¿Mi hijo/a no cumple con la edad permitida, puede ir?</a></li>
		  <li style="font-weight: bold;"><a href="#question2">¿Las clases tienen costo?</a></li>
		  <li style="font-weight: bold;"><a href="#question3">¿Existen niveles dentro de TImpulsa?</a></li>
		  <li style="font-weight: bold;"><a href="#question4">¿Qué herramientas utilizan para dar las clases?</a></li>
		  <li style="font-weight: bold;"><a href="#question5">¿Cómo es el proceso de inscripción?</a></li>
		  <li style="font-weight: bold;"><a href="#question6">¿Vivo muy lejos de las sedes y no tengo manera de ir, puedo tomar el curso en línea?</a></li>
		  <li style="font-weight: bold;"><a href="#question7">¿Otorgar un certificado por cumplir con las asignaciones del curso?</a></li>
		</ul>
		<p style="font-weight: bold;">Cualquier otra pregunta favor de enviar un correo a:</p>
		<p style="font-weight: bold;"> contactotimpulsa@gmail.com</p>
		</div>
		<div class="col-9">
			<h3>Preguntas Frecuentes</h3>
			<div id="question1">
				<h3>¿Mi hijo/a no cumple con la edad permitida, puede ir?</h3>
				<p>Esto depende de muchos factores y esta a criterio del coordinador del espacio el aceptar o no a un niño que no cumple con el rango de edades. Se hace una evaluación por caso, pero debe considerar que se le da prioridad a que el desarrollo de la clase no se vea afectado.</p>
			</div>
			<div id="question2">
				<h3>¿Las clases tienen costo?</h3>
				<p>Los cursos en si no tienen costo, sin embargo dependiendo de la sede existe un costo por el mantenimiento de las computadoras, que por lo general ronda entre los 100 y 150 pesos por curso.</p>
			</div>
			<div id="question3">
				<h3>¿Existen niveles dentro de TImpulsa?</h3>
				<p>Por ahora existen dos módulos: Principiantes e Intermedios, los horarios y disponibilidad de los módulos varían de acuerdo a la sede.</p>
			</div>
			<div id="question4">
				<h3>¿Qué herramientas utilizan para dar las clases?</h3>
				<p>Principalmente utilizamos Scratch y Game Maker según el nivel de los beneficiarios, aunado a esto también utilizamos otros recursos para que hacer mas fácil el aprendizaje.</p>
			</div>
			<div id="question5">
				<h3>¿Cómo es el proceso de inscripción?</h3>
				<p>La inscripción varia dependiendo de la sede y de la fecha, pero por lo general se realiza dos semanas antes de que comience el curso en las sedes, sugerimos enviar un correo a contactotimpulsa@gmail.com para la pre-inscripción y obtener mas información acerca de la inscripción.</p>
			</div>
			<div id="question6">
				<h3>¿Vivo muy lejos de las sedes y no tengo manera de ir, puedo tomar el curso en línea?</h3>
				<p>No tenemos por ahora planes para impartir cursos en línea, sin embargo todo el material que se imparte esta en la pagina web y puede ser consultado de forma gratuita.</p>
			</div>
			<div id="question7">
				<h3>¿Otorgar un certificado por cumplir con las asignaciones del curso?</h3>
				<p>Al final del curso se entrega un diploma que avala la participación del alumno en el modulo, además de un CD con el proyecto final que realizaron.</p>
			</div>
		</div>
	</div>
</section> 
<script>

</script> 
