<!DOCTYPE html>
<html ng-app="TImpulsa">
<head>
<!--includes meta tags, title and more header definitions-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <title>TImpulsa - Fotogalería</title>

    <!-- Furatto core CSS -->
    <link href="../css/furatto.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/fotogaleria.css" />
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<section class="content">
	<h1>Fotogalería</h1>
	<p>Estamos en la seccion de Fotogalería </p>
	
	<div class="originalratio">
	    <div id="xcaret" class="content">
	    	<a title="Link to 500px" href="http://500px.com/photo/7291165"></a>
	    </div>
	</div>
	<div id="foto1" class="foto"></div>
	<div id="foto2" class="foto"></div>
	<div id="foto3" class="foto"></div>
	<div id="foto4" class="foto"></div>
	<div id="foto5" class="foto"></div>
	<div id="foto6" class="foto"></div>
	<div id="foto7" class="foto"></div>
	<div id="foto8" class="foto"></div>
	<div id="foto9" class="foto"></div>
	<div id="foto10" class="foto"></div>
	<div id="foto11" class="foto"></div>
	<div id="foto12" class="foto"></div>
	<div id="foto13" class="foto"></div>
	<div id="foto14" class="foto"></div>
	<div id="foto15" class="foto"></div>
	<div id="foto16" class="foto"></div>
	<div id="foto17" class="foto"></div>
	<div id="foto18" class="foto"></div>
	<div id="foto19" class="foto"></div>
</section>

<!--includes javascript at the bottom so the page loads faster-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script type="text/javascript" src="js/application.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/furatto.min.js"></script>
</body>
</html>