<section class="content">
  <h4>Sedes</h4>
  <div class="row">
	<div class="col-3">
		<p style="font-weight: bold;">Kiosco Cibernético Clouthier:</p>
	</div>
	<div class="col-9">
		<p>Colonia San Pedro 400 Av. Manuel J. Clouthier #700</p>
		<p></p>
		<p>10 beneficiarios</p>
	</div>
  </div>
  <div class="row">
	<div class="col-3">
		<p style="font-weight: bold;">Kiosco Cibernético Revolución:</p>
	</div>
	<div class="col-9">
		<p>Colonia Revolución 4to. Sector Plan de Guadalupe #210</p>
		<p></p>
		<p>10 beneficiarios</p>
	</div>
  </div>
  <div class="row">
	<div class="col-3">
		<p style="font-weight: bold;">Incubadora Social Caracol:</p>
	</div>
	<div class="col-9">
		<p>Caracol 5ta zona #409</p>
		<p></p>
		<p>15 Beneficiarios</p>
	</div>
  </div>
  <h4>Fechas</h4>
  <div class="row">
	<div class="col-1">
		<p style="font-weight: bold;">Verano:</p>
	</div>
		<div class="col-11">	
			<p>Primera semana de Junio a ultima semana de Junio</p>
		</div>
	</div>
	<div class="row">
		<div class="col-1">
			<p style="font-weight: bold;">Ago-Dic:</p>
		</div>
		<div class="col-11">		
			<p>Primera semana de Septiembre a primera semana de Noviembre</p>
		</div>
	</div>
	<div class="row">
		<div class="col-1">
			<p style="font-weight: bold;">Ene-May:</p>
		</div>
		<div class="col-11">
			<p>Primera semana de Febrero a primera semana de Abril.</p>
		</div>
	</div>
  </div>
</section>
